:root{
    --color: crimson;
    --fuente-titulo: Verdana, Geneva, Tahoma, sans-serif ;
    --fuente-texto:'Montserrat';
}
*{
    margin: 0;
    padding: 0;
}



/* inicio header  */

header{
    background-color: #0047ff;
    max-width: 100vw;
    height: 6.06rem;
    padding: 2.68rem 8.45rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fuente-titulo);
}

.nav-container{
    width: 85vw;
    height: 2.35rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    gap: 4rem;
} 

.nav-menu{
    width: 55vw;
    height: 24px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7rem;
    padding: 0;
}

.nav-logo{
    width: 7.37rem;
    height: 1.5rem;
    margin: 0 11.87rem 0 0;
    font-size: 1.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.075rem;
    text-align: left;
    color: #ebf6ff;
}
.nav-section{
    width: 30vw;
    height: 1.5rem;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}
a{
    text-decoration: none;
}

.nav-section a{
    flex-grow: 0;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ebf6ff;
    display: inline-block;
    padding: 0.5rem 1rem;
    position: relative;
}

.nav-section a:after {    
background: none repeat scroll 0 0 transparent;
bottom: 0;
content: "";
display: block;
height:0.125rem;
left: 50%;
position: absolute;
background:lightblue;
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;
}
.nav-section a:hover:after { 
width: 100%; 
left: 0; 
}

.nav-search{
    width: 21.68rem;
    height: 1.8rem;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.8rem;
    padding: 0;
}

.nav-input input{
    width:15rem;
    height: 1.8rem;
    border-radius: 0.25rem;
}

.nav-icons{
    width: 4.5rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #ebf6ff;
}

/* fin header  */

.titulo-color p{
    color: var(--color) ;
    font-family: var(--fuente-texto);
    font-weight: 700;
    border-left: var(--color) 15px solid;
    padding: 12px;
}

#section-categoria{
    margin: 100px;
}

.titulo-h2{
    color: black;
    font-size: 36px;
    font-family: var(--fuente-titulo);
    margin-bottom: 100px;
    margin-top: 50px;
}
.cont-categorias{
    display: flex;
    justify-content: space-between;
}

.categoria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: gray 1px solid;
    height: 150px;
    width: 170px;
    color:black;
}

.categoria img{
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.categoria p{
    font-family: var(--fuente-texto);
    font-weight: 500;
    font-size: 16px;
}

.categoria:hover{
    background-color: var(--color) ;
    color: white;
    transition: 0.4s;
}

.categoria:hover img{
    filter: invert(100%) sepia(94%) saturate(26%) hue-rotate(263deg) brightness(107%) contrast(104%);
    transition: 0.4s;
}

/******************************************/
#section-novedades{
    margin: 100px;
}

.cont-novedades{
    height: 600px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    grid-template-areas:
    "area1 area1 area2 area2"
    "area1 area1 area3 area4"
}

.item1{
    background-color: black;
    background-image: url(../Assets/Img/novedades/ps5.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    grid-area: area1;
}

.item2{
    background-color: black;
    background-image: url(../Assets/Img/novedades/samsung.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    grid-area: area2;
}
.item3{
    background-color: black;
    background-image: url(../Assets/Img/img/novedades/tablet.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    grid-area: area3;
}
.item4{
    background-color:  black;
    background-image: url(../Assets/Img/novedades/auricular.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    grid-area: area4;
}

.texto-novedad{
    color: white;
    width: 70%;
    margin: 30px;
    font-family: var(--fuente-texto);
}

.texto-novedad p{

    margin-bottom: 10px;
    font-size: 14px;
}
.texto-novedad .titulo-novedad{
    font-size: 24px;
    font-family: var(--fuente-titulo);
}

.texto-novedad a{
    border-bottom: white 1px solid;
    color: white;
}

.section-servicios{
    margin: 100px;
}
.cont-servicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.servicio{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente-titulo);
    font-size: 14px;
}
.servicio img{
    width: 30%;
    margin-bottom: 20px ;
}   
.titulo-servicio{
    font-size: 18px;
    margin-bottom: 10px;
}

/*Footer*/

footer{
    width:100%;
    height:50vh;
    margin-top: 40vh;
    background-color: #471501;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-container{
    width: 85vw;
    height: 35vh;
    display: flex;
    flex-flow: row;
    justify-content:center;
    align-items: flex-start;
    margin: 5vh 9.4vw 4rem;
    padding-top: 5vh;
    background-color: #471501;
    color: #fff1c5
}

.foo-section{
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.6rem;
    margin:0 2.8%;
}
.foo-title{
    font-size: 1.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
}

.foo-brand{
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    
}
.foo-name-brand{
    font-size: 1.8rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.05rem;
    text-align: left;
}

.foo-subtitle{
    width: 10.93rem;
    display: flex;
    flex-flow: column wrap;
    margin:0 4.5%;
    font-size: 1.1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left
}

.foo-subtitle span, a{
    margin:4% 0;
    text-decoration: none;
    color: #fff1c5;;
}

.subscribe-container{
    display:inline-flex;
    gap: 1rem;
    margin-top:0.5rem;
}
.subscribe-container input{
    background-color: #fff1c5;
}
.subscribe-container button{
    padding:0.5rem 1rem;
    border-radius: 4px;
    background-color:#fff1c5;
}

.foo-copyright{
    width: 100%;
    height: 4rem;
    padding:1.5rem auto 1.5rem;
    color:#fff1c5 ;
    background-color: #471501;
    border-top: 1px solid #fff1c5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foo-copyright span{
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;  
    opacity: 0.24;
}

#foo-comments{
    width: 14rem;
    height: 1rem;
    flex-grow: 0;
    opacity: 0.7;
    font-size: 0.9rem;
    font-weight:lighter;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff1c5;
}

.foo-platform-digital{
    display: flex;
    flex-flow:row nowrap;
    gap: 1rem;
}

.foo-social-media{
    width: 70%;
    height: 2rem;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:1.5rem;
    padding: 0;
    margin: 1rem;
}  

